// Google Fonts
@import url(../fonts/Roboto-Regular.ttf);

// Variables
$font-stack:      'Roboto Condensed', sans-serif;
$bg-color:        #0074c9;
$bar-color:       #EAEAEA;
$logo:            '../img/klarna-logo.jpg';

$default-border:  #CCC;
$strong-border:   #000;

$text-highlight:  #fff;

$bg-danger:       #d9534f;
$bg-danger-hover: #c9302c;
$border-danger:   #d43f3a;

$bg-success:       #5cb85c;
$bg-success-hover: #449d44;   
$border-success:   #398439;

$bg-primary:       #5bc0de;
$bg-primary-hover: #31b0d5;
$border-primary:   #269abc;


body {
  font: 100% $font-stack;
  background-color: $bg-color;
  background-image: url($logo);
  background-position: 0 30px;
  background-repeat: no-repeat;
}

@mixin animation ($duration) {
  -webkit-transition: $duration ease;
  -moz-transition: $duration ease;
  -ms-transition: $duration ease;
  -o-transition: $duration ease;
  transition: $duration ease;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

.container {
  @include border-radius(10px);
}

#container1 {
  border: none;

  #container2 {
    background-color: rgba(128,128,128,.6);
    border-color: $border-primary;

    &.active {
      border-color: $strong-border;      
    }

    .box {
      border-radius: 12px;
      border-color: $default-border;
      cursor: pointer;

      &:hover {
        border-color: $strong-border;
      }

      .box-header {
        border-bottom: 1px solid $default-border; 
      }

      &.second {
        color: $text-highlight;
        background-color: $bg-danger;
        border-color: $border-danger;
        &:hover {
          background-color: $bg-danger-hover;
          border-color: $strong-border;
        }

        .box-header {
          border-bottom: 1px solid $border-danger; 
        }
      }

      &.third {
        color: $text-highlight;
        background-color: $bg-success;
        border-color: $border-success;
        &:hover {
          background-color: $bg-success-hover;
          border-color: $strong-border;
        }

        .box-header {
          border-bottom: 1px solid $border-success; 
        }
      }

      &.fourth {
        color: $text-highlight;
        background-color: $bg-primary;
        border-color: $border-primary;
        &:hover {
          background-color: $bg-primary-hover;
          border-color: $strong-border;
        }

        .box-header {
          border-bottom: 1px solid $bg-primary-hover; 
        }
      }
    }
  }
}

.statistics {
  width: 100%;
  background-color: $bar-color;
  border-bottom: 1px solid #CECECE;

  ul {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 20px;
    }

    li.info {
      margin-top: 10px;
      padding-bottom: 0;
    }
  }
}


button {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: $text-highlight;
    background-color: $bg-primary;
    border-color: $border-primary;
}

.clear-button {
  float: right;
}