@import url(../fonts/Roboto-Regular.ttf);
body {
  font: 100% "Roboto Condensed", sans-serif;
  background-color: #0074c9;
  background-image: url("../img/klarna-logo.jpg");
  background-position: 0px 30px;
  background-repeat: no-repeat; }

.container {
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

#container1 {
  border: none; }
  #container1 #container2 {
    background-color: rgba(128, 128, 128, 0.6); }
    #container1 #container2 .box {
      border-radius: 12px; }
      #container1 #container2 .box .box-header {
        border-bottom: 1px solid #999; }
      #container1 #container2 .box .box.second .box-header {
        border-bottom: 1px solid #0F0; }

.statistics {
  width: 100%;
  background-color: #EAEAEA;
  border-bottom: 1px solid #CECECE; }
  .statistics ul {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px; }
    .statistics ul li {
      display: inline-block;
      list-style: none;
      margin-right: 20px; }
    .statistics ul li.info {
      margin-top: 10px;
      padding-bottom: 0px; }

button {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #0074c9;
  border-color: #46b8da; }

.clear-button {
  float: right; }
