@import url(../fonts/Roboto-Regular.ttf);
body {
  font: 100% "Roboto Condensed", sans-serif;
  background-color: #0074c9;
  background-image: url("../img/klarna-logo.jpg");
  background-position: 0px 30px;
  background-repeat: no-repeat; }

.container {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

#container1 {
  border: none; }
  #container1 #container2 {
    background-color: rgba(128, 128, 128, 0.6);
    border-color: #269abc; }
    #container1 #container2.active {
      border-color: #000; }
    #container1 #container2 .box {
      border-radius: 12px;
      border-color: #CCC;
      cursor: pointer; }
      #container1 #container2 .box:hover {
        border-color: #000; }
      #container1 #container2 .box .box-header {
        border-bottom: 1px solid #CCC; }
      #container1 #container2 .box.second {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a; }
        #container1 #container2 .box.second:hover {
          background-color: #c9302c;
          border-color: #000; }
        #container1 #container2 .box.second .box-header {
          border-bottom: 1px solid #d43f3a; }
      #container1 #container2 .box.third {
        color: #fff;
        background-color: #5cb85c;
        border-color: #398439; }
        #container1 #container2 .box.third:hover {
          background-color: #449d44;
          border-color: #000; }
        #container1 #container2 .box.third .box-header {
          border-bottom: 1px solid #398439; }
      #container1 #container2 .box.fourth {
        color: #fff;
        background-color: #5bc0de;
        border-color: #269abc; }
        #container1 #container2 .box.fourth:hover {
          background-color: #31b0d5;
          border-color: #000; }
        #container1 #container2 .box.fourth .box-header {
          border-bottom: 1px solid #31b0d5; }

.statistics {
  width: 100%;
  background-color: #EAEAEA;
  border-bottom: 1px solid #CECECE; }
  .statistics ul {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px; }
    .statistics ul li {
      display: inline-block;
      list-style: none;
      margin-right: 20px; }
    .statistics ul li.info {
      margin-top: 10px;
      padding-bottom: 0px; }

button {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #269abc; }

.clear-button {
  float: right; }
